.login-container {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}



.login-heading {
  font-size: 2rem;
  color: #4a2b7a;
  margin-bottom: 1.5rem;
}

.login-input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #6c4a9e;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  border-color: #4a2b7a;
}

.login-button {
  background-color: #4a2b7a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: #6c4a9e;
  transform: scale(1.05);
}

.login-link {
  display: block;
  margin-top: 1rem;
  color: #4a2b7a;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-link:hover {
  text-decoration: underline;
}
